{
  "env": {"node": true},
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.base.json"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "rules": {
    "tsdoc/syntax": 1,
    "max-len": ["error", { "code": 200 }],
    "@typescript-eslint/no-inferrable-types": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^throwaway", "argsIgnorePattern": "^_" }],
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 2,
    "no-else-return": 0,
    "object-curly-newline": ["error", {
      "ObjectExpression": { "consistent": true },
      "ObjectPattern": { "consistent": true }
    }],
    "arrow-body-style": ["error", "always"],
    "object-shorthand": ["error", "consistent"],
    "max-classes-per-file": ["error", 1],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
