alabaster==0.7.16
astroid==3.3.8
Babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.0
build==1.2.2.post1
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.0
dill==0.3.9
distlib==0.3.9
docutils==0.21.2
exceptiongroup==1.2.2
filelock==3.17.0
flake8==7.1.1
furo==2024.8.6
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
iniconfig==2.0.0
isort==6.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.5
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.6.0
myst-parser==4.0.0
nh3==0.2.20
packaging==24.2
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.19.1
pylint==3.3.4
pyproject-api==1.9.0
pyproject_hooks==1.2.0
pytest==8.3.2
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
SecretStorage==3.3.3
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.6
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.8
sphinxcontrib-serializinghtml==1.1.10
tomli==2.2.1
tomlkit==0.13.2
tox==4.24.1
tox-gh-actions==3.2.0
twine==6.1.0
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.1
zipp==3.21.0
